*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: url(images/bg-stars.svg) no-repeat center center/cover;
    background-color: hsl(234, 17%, 12%);
}

.hill{
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 200px;
}


.body-con{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 2rem;
    width: 90%;
    max-width: 800px;
}

.container h1{
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    letter-spacing: 0.1rem;
}



.countdown{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0; 
}

.countdown div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem;
    gap: 1rem;
}

.countdown div h2{
    color: hsl(345, 95%, 68%);
    width: 100px;
    padding: 1rem;
    font-size: 3rem;
    border-radius: 10px;
    text-align: center;
    background-color: hsl(237, 17%, 21%);
}


.countdown div p{
    /* color: hsl(236, 21%, 26%); */
    color: hsl(237, 18%, 59%);
    font-size: 1rem;
    letter-spacing: 0.1rem;
}


.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 1rem;
    position: absolute;
    bottom: 3rem;
}

.icons img:hover{
    cursor: pointer;
    background-color: hsl(345, 95%, 68%);   
}


/* Media Query */
@media screen and (min-width: 1040px){
    .container h1{
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    .countdown div{
        margin: 0 1rem;
    }
    .countdown div h2{
        font-size: 4rem;
        padding: 2rem;
        width: 200px;
    }
    .countdown div p{
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
    }
}